<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1369125_2xawxep6qqv.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="js/username.js"></script>
		<script src="layer/layer.js"></script>
		<title>TUR-区块记录</title>
	</head>
	<body>
		<div class="w100 m-dorp bg-fff fixed row jc-sb box-sd">
			<div class="w8 pic100 pad-b-1 box-sd">
				<img src="img/logo.png">
			</div>
			<div class="w84 m-ss fl ai-center row col-666">
				<a href="enindex.html" class="menu">
					<div class="text-center">
						<i class="iconfont m-none">&#xe60c;</i>
						<p>Home</p>
					</div>
				</a>
				<a href="entop-wallets.html" class="menu">
					<div class="text-center">
						<i class="iconfont m-none">&#xe60e;</i>
						<p>Top Wallets</p>
					</div>
				</a>
				<a href="endelegate-monitor.html" class="on menu">
					<div class="text-center">
						<i class="iconfont m-none">&#xe619;</i>
						<p>Delegate Monitor</p>
					</div>
				</a>			
				<a href="index.html" class="menu m-block">
					<div class="text-center">
						<p>中文</p>
					</div>
				</a>
				
				<div class="mar-r-b-8 row jc-end flex" >
					<input type="" placeholder="Find a block, transaction, address" name="" id="sltnamea" class="bor-rs2 pad-b-1 bor-f4f w50" />
					<button type="button" id="sousuoa" class="col-fff fz20 mar-l-b-1 bor-rs3 pad-b-1 pad-lr-b-3 bg-318"><i class="iconfont">&#xe63d;</i></button>
				</div>
			</div>
			<div class="w8 m-none dorp cursor pic100 pad-b-1 box-sd">
				<img src="img/en.png" >
				<div class="dorp_con box-sd pic100">
					<a href="index.html"><img src="img/cn.png"></a>
				</div>
			</div>
			<div class="w8 m-block text-center col-318 ai-center jc-center fz60 cursor pad-b-1 box-sd">
				<i class="iconfont">&#xe654;</i>
			</div>
			
				
		</div>
		<div class="split ">

		</div>
		<!-- 左侧 -->
		<div class="w8 box-sd fixed m-none h100">
			<div class="column text-center col-ccc fz20 mar-t300">
				<a href="https://www.facebook.com/TurretGlobal/"><i class="iconfont pad-tb20">&#xe638;</i></a>
				<a href="https://twitter.com/Turret4709"><i class="iconfont pad-tb20">&#xe89d;</i></a>
				<a href="https://www.weibo.com/u/7216873688"><i class="iconfont pad-tb20">&#xe63e;</i></a>
				<div class="drop">
						<i class="iconfont pad-tb20">&#xe635;</i>
						<div class="drop_con2 p100 a-fadein">
							<div class="xs">
								<img src="http://www.turc.io/public/webpic/20190828/c0924b25f84e09a4e9f02a9a6b193643.png">
								<div class="xsj z-100 mar-t10 mar-l35"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<!-- 内容 -->
		<div class="w92 bg-f5f mar-t-b-8 mar-l-b-8">
			<div class="w100 pad-b-2">
				<div class="row wrap jc-sb">
					<div class="box-sd-dbe bor-t-dbe text-center pad-b-1 fz20 w29">
						区块记录
					</div>
					<div class="box-sd row wrap m-mar-t10 jc-sb pad-b-1 bor-t-e8e ai-center w68">
						<div class="col-666 m-w50" id="height">
							Height：<span v-cloak>{{height}}</span>
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50">
							Network：TUR
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50" id="app">
							Supply：<span v-cloak>{{supply/100000000}}€</span>
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50" id="count" >
							Address：<span v-cloak>{{count}}</span>
						</div>
					</div>
				</div>


				<div class="box-sd mar-t-b-4 pad-b-2 bg-fff " id="transaction">
					<div class="row ai-center">
						<div class="w8 fz30 col-fff m-none ">
							<i class="iconfont iconfont2 bg-318 pad-b-15 bor-rs10 ">&#xe613;</i>
						</div>
						<div class="column w100 ">
							<p class="fz16 text-left bold">Generated by</p>
							<div class="text-left" v-cloak>
								<span id="keydiv">{{datas.username}}</span>								
								<btn class="pad-10" onclick="copyText()">Copy</btn>
							</div>
						</div>

					</div>
				</div>

				<div class="box-sd mar-t-b-4 pad-b-2 bg-fff">
					<div id="blocks">

						<div class="row jc-sb col-318 bold m-none">
							<div class="Hover">ID</div>
							<div class="Hover w8">Heigh</div>
							<div class="Hover w15">Timestamp</div>
							<div class="Hover w8">Transactions</div>
							<div class="Hover w8">Generated by</div>
							<div class="Hover w8">Reward</div>
							<div class="Hover w8">Fee</div>
						</div>

						<div v-for="data in datas" class="row jc-sb zx m-none">
							<div v-cloak class="Hover">
								<a :href="'enblock.html?id='+data.id">{{data.id}}</a>
							</div>
							<div v-cloak class="Hover w8">{{data.height}}</div>
							<div v-cloak class="Hover w15">{{getLocalTime(data.timestamp.unix)}}</div>
							<div v-cloak class="Hover w8">{{data.forged.fee/100000000}}</div>
							<div v-cloak class="Hover w8"><a :href="'enwallet.html?id='+data.generator.address">{{data.generator.username}}</a></div>
							<div v-cloak class="Hover w8">{{data.forged.total/100000000}}€</div>
							<div v-cloak class="Hover w8">{{data.forged.fee/100000000}}€</div>
						</div>

						<div v-for="data in datas" class="row jc-sb zx m-block m-bor-b">
							<div v-cloak class="Hover row">
								<span class="m-w50">ID</span>
								<span class="m-w50 text-right"><a :href="'enblock.html?id='+data.id">{{data.id}}</a></span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Heigh</span>
								<span class="m-w50 text-right">{{data.height}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Timestamp</span>
								<span class="m-w50 text-right">{{getLocalTime(data.timestamp.unix)}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Transactions</span>
								<span class="m-w50 text-right">{{data.forged.fee/100000000}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Generated by</span>
								<span class="m-w50 text-right"><a :href="'enwallet.html?id='+data.generator.address">{{data.generator.username}}</a></span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Reward</span>
								<span class="m-w50 text-right">{{data.forged.total/100000000}}€</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Fee</span>
								<span class="m-w50 text-right">{{data.forged.fee/100000000}}€</span>
							</div>
						</div>

					</div>

					<div class="row text-center jc-center mar-t-b-1">
						<a id="qukuai" href="javascript:qpage(this);" class="bg-dae bor-rs3 pad-b-05 pad-lr-b-4 mar-b-2 w15"><span>Previous</span></a>
						<a id="qukuai" v-if="datas.length >= 25" href="javascript:hpage(this);" class="bg-dae bor-rs3 pad-b-05 pad-lr-b-4 mar-b-2 w15"><span>Next</span></a>
					</div>

				</div>

			</div>
		</div>




		<script src="js/enapp.js"></script>
		<script type="text/javascript">
			var id = getParam('id')
			qukuai(1)



			var vum1 = new Vue({
				el: '#transaction',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url + "api/v2/wallets/" + id,
						success: function(data) {
							vum1.datas = data.data;
							console.log(pkey) //钱包Balance等
							$('._transactions').css('background', '#fff')
						}
					})
				}
			})


			//翻页
			urlpage = 1
			funcname = 'qukuai'

			function qpage() {
				if (urlpage <= 1) {
					return false
				}
				var page = urlpage - 1
				eval(funcname + "(" + page + ")")
				urlpage = urlpage - 1
			}

			function hpage() {
				var page = urlpage + 1
				eval(funcname + "(" + page + ")")
				urlpage = urlpage + 1
			}


			vum2 = new Vue({
				el: '#blocks',
				data: {
					datas: "",
				},
				beforeCreate: function() {
					$.ajax({
						type: 'Get',
						url: server_url + 'api/v2/delegates/' + id + '/blocks?page=' + page + '&limit=25',
						success: function(data) {
							vum2.$set(vum2.$data, 'datas', data.data)
							vum2.$forceUpdate();
						}
					})
				}
			})
			t1 = setInterval(function() {
				qukuai(urlpage)
			}, 5000);


			function qukuai(page) {
				$.ajax({
					type: 'Get',
					url: server_url + 'api/v2/delegates/' + id + '/blocks?page=' + page + '&limit=25',

					success: function(data) {
						vum2.$set(vum2.$data, 'datas', data.data)
						vum2.$forceUpdate();
					}
				})
			}
		</script>




	</body>

</html>
