<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/font_1369125_2xawxep6qqv.css">
		<script src="js/jquery-3.5.0.min.js"></script>
        <script src="js/vue.min.js"></script>
		<script src="js/username.js"></script>
		<script src="layer/layer.js"></script>
		<title>BFC-Accounts</title>
	</head>
	<body>
		<div id="cover_layer" class="cover_layer">
            <div class="cover-bg" id="cover-bg"></div>
            <div class="card" id="search_result"></div>
		</div>

		<div id="project-info" class="cover_layer">
            <div class="cover-bg" id="project-info-bg"></div>
            <div class="card" id="project-info-content">
                <div class="card-content">
                    This is the project for course MSBD6000D Introduce to Block Chain Technology
                </div>
            </div>
        </div>
		
		<div class="w100 m-dorp bg-fff fixed row jc-sb box-sd">
			<div class="w8 pic100 pad-b-1 box-sd">
				<img src="img/logo.png">
			</div>
			<div class="w100 m-ss fl ai-center row col-666">
				<a href="index.html" class="menu">
					<div class="text-center">
						<i class="fa fa-cube"></i>
						<p>Blockchain Info</p>
					</div>
				</a>
				<a href="top-wallets.html" class="on menu">
					<div class="text-center">
						<i class="iconfont m-none">&#xe60e;</i>
						<p>Accounts</p>
					</div>
				</a>
				<a href="delegate-monitor.html" class="menu">
					<div class="text-center">
						<i class="fa fa-exchange"></i>
						<p>Transactions and Files</p>
					</div>
				</a>
				<a href="#" class="menu" id="project-info-icon">
                    <div class="text-center">
                        <i class="m-none fa fa-info-circle"></i>
                        <p>Project info</p>
                    </div>
                </a>					
	
				
				<div class="row jc-center flex" >
                    <input type="search" placeholder="Search txid, account or ctAddress" id="search_content" class="bor-rs2 pad-b-1 bor-f4f w50" />
                    <button type="button" id="search_button" class="w20 col-fff fz20 mar-l-b-1 bor-rs3 pad-b-1 pad-lr-b-3 bg-318"><i class="iconfont">&#xe63d;</i></button>
                </div>
			</div>

			<div class="w8 m-block text-center col-318 ai-center jc-center fz60 cursor pad-b-1 box-sd">
				<i class="iconfont">&#xe654;</i>
			</div>
			
				
		</div>
		<div class="split ">

		</div>
		<!-- 左侧 -->
		<div class="w8 box-sd fixed m-none h100">
			<div class="column text-center col-ccc fz20 mar-t300">
				<a href="#"><i class="iconfont pad-tb20">&#xe638;</i></a>
				<a href="#"><i class="iconfont pad-tb20">&#xe89d;</i></a>
				<a href="#"><i class="iconfont pad-tb20">&#xe63e;</i></a>
				<div class="drop">
						<i class="iconfont pad-tb20">&#xe635;</i>
						<div class="drop_con2 p100 a-fadein">
							<div class="xs">
								#
								<div class="xsj z-100 mar-t10 mar-l35"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<!-- 内容 -->
		<div class="w92 bg-f5f mar-t-b-8 mar-l-b-8">
			<div class="w100 pad-b-2">
				<div class="row wrap jc-sb">
					<div class="box-sd-dbe bor-t-dbe text-center pad-b-1 fz20 w18">
						Accounts
					</div>
					<div class="box-sd row wrap m-mar-t10 jc-sb pad-b-1 bor-t-e8e ai-center w80">
						<div class="col-666 m-w50" id="height">
							Height: <span v-cloak>#</span>
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50">
							Network: BFS/BFC
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50" id="app">
							Supply: <span v-cloak>#$</span>
						</div>
						<div class="bor-r h-14 m-none"></div>
						<div class="col-666 m-w50" id="count" >
							Address: <span v-cloak>#</span>
						</div>
					</div>
				</div>





				<div class="box-sd mar-t-b-4 pad-b-2 bg-fff">
					<div id="transactions">

						<div class="row m-none jc-sb col-318 bold">
							<div class="Hover w8">#</div>
							<div class="Hover w8">ID</div>
							<div class="Hover w50">Address</div>
							<div class="Hover">Balance</div>
							<div class="Hover">AccountNonce</div>
							<div class="Hover">StorageRoot</div>
							<div class="Hover">CodeHash</div>
						</div>

						<div v-for="data in datas" class="row jc-sb m-none zx">
							<div v-cloak class="Hover w8">{{data.num}}</div>
							<div v-cloak class="Hover w8">{{usernameupdate(data.address)}}</div>
							<div v-cloak class="Hover w50"><a :href="'wallets.html'">{{data.address}}</a></div>
							<div v-cloak class="Hover">{{data.accountStatus.Balance}}</div>
							<div v-cloak class="Hover">{{data.accountStatus.AccountNonce}}</div>
							<div v-cloak class="Hover">{{data.accountStatus.StorageRoot}}</div>
							<div v-cloak class="Hover">{{data.accountStatus.CodeHash}}</div>
						</div>
						
						
						
						<div v-for="data in datas" class="row jc-sb m-block m-bor-b zx">
							<div v-cloak class="Hover row">
								<span class="m-w50">#</span>
								<span class="m-w50 text-right">{{data.num}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">ID</span>
								<span class="m-w50 text-right">{{usernameupdate(data.address)}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Address</span>
								<span class="m-w50 text-right"><a :href="'wallets.html'">{{usernameupdate(data.address)}}</a></span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">Balance</span>
								<span class="m-w50 text-right">{{data.accountStatus.Balance}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">AccountNonce</span>
								<span class="m-w50 text-right">{{data.accountStatus.AccountNonce}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">StorageRoot</span>
								<span class="m-w50 text-right">{{data.accountStatus.StorageRoot}}</span>
							</div>
							<div v-cloak class="Hover row">
								<span class="m-w50">CodeHash</span>
								<span class="m-w50 text-right">{{data.accountStatus.CodeHash}}</span>
							</div>
						</div>

					</div>

					<div class="row text-center jc-center mar-t-b-1">
						<a href="javascript:qpage(this);" class="bg-dae bor-rs3 pad-b-05 pad-lr-b-4 mar-b-2 w15"><span>Previous</span></a>
						<a v-if="datas.length >= 25" href="javascript:hpage(this);" class="bg-dae bor-rs3 pad-b-05 pad-lr-b-4 mar-b-2 w15"><span>Next</span></a>
					</div>

				</div>
			</div>
		</div>

		<script src="js/app.js"></script>
		<script type="text/javascript">
			//rmqb(0)


			//翻页
			urlpage = 1
			funcname = 'rmqb'

			function qpage() {
				if (urlpage <= 1) {
					return false
				}
				var page = urlpage - 1
				eval(funcname + "(" + page + ")")
				urlpage = urlpage - 1
			}

			function hpage() {
				var page = urlpage + 1
				eval(funcname + "(" + page + ")")
				urlpage = urlpage + 1
			}


			function getAccountStatus(url_index, vum2, list) {
				$.ajax({
					type: 'Get',
					url: 'http://159.138.135.42:8008/status/' + urls[url_index],
					success: function(data) {
						console.log(data);
						//vum2.$set(vum2.$data, 'datas', data)
						//vum2.$forceUpdate();
						data.data["num"] = url_index;
						data.data["address"] = urls[url_index];
						list.push(data.data);
						if (url_index + 1 == urls.length) {
							console.log(list);
							
							vum2.$set(vum2.$data, 'datas', list);
							vum2.$forceUpdate();
						} else {
							getAccountStatus(++url_index, vum2, list);
						}
					}
				})
			}

			window.onload = function() {
				vum2 = new Vue({
					el: '#transactions',
					data: {
						datas: "",
					}
					
				})
				t1 = setInterval(function() {
					url_index = 0;
					list = [];
					getAccountStatus(url_index, vum2, list);
				}, 1000);

			}

		


			$(document).ready(function() {
				setTimeout(function() {
					console.log("aaaaaa");
					$(".Hover").on("mouseenter", function() {
						console.log("bbbbbbb");
						if (this.offsetWidth < this.scrollWidth) {
							var that = this;
							var text = $(this).text();
							console.log("cccccccc");
							layer.tips(text, that, {
								tips: [1, '#3185ee'],
								time: 2000
							});
						}
					});
				}, 2000);
			});
		</script>

	</body>

</html>
